!!! 5
%title hum demo
%meta{ charset: "utf-8" }
%meta{ content: "Matt Gauger", name: "author" }
/[if lt IE 8]
  %link{ :href => "/css/ie.css", :rel => "stylesheet", :type => "text/css", :media => "screen, projection" }
%link{ :href => "/css/screen.css", :rel => "stylesheet" }

%script{ :src => "javascripts/application.js", :type => "text/javascript" }

%body
  #container
    %header
      %h1 hum demo

    %section#content

    %footer
